target/

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

*.sublime*

psd
thumb
sketch
/node_modules
/node_modules/
/node_modules/*

### IntelliJ IDEA ###
.idea
.mvn
*.iws
*.iml
*.ipr
**/target


### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
